@charset "UTF-8";

//Base
@import "base/variables";
@import "base/fonts";
@import "base/menu";
//Pages
@import "intro";
@import "instruction";
@import "shell";
@import "footer";
@import "page-container";
@import "page";
@import "top-nav";
@import "tools-menu";
@import "help";
@import "transcript";
@import "reset";

@import "menu-content";

body {
    font-family: Arial;
    color: #FFF;
    font-size: 1em;
    font-weight: 300;
    overflow: hidden;
    background-color: #bdbdc2;
}