/*
    Created on : Oct 06, 2015
    Author     : SunilP, RahulD
*/

.page a {
    cursor: pointer;
    word-break: break-word;
    color: #FFF;
}
.page {
    margin: 0 auto;
    padding: 0 15px 15px 15px;
    background: #fff;
    color: #000;
    font-family: Arial;
}
.page .intro-text{
    padding-top:15px;
}
li::before {
    text-align: right;
    padding-right: .3em;
    display: table-row
}

.page ul li {
    list-style: none;
}

.page ul li{ background: url("../../images/li_red.png") no-repeat scroll 0px 4px transparent; padding: 0px 0 0px 15px;margin-top: 7px;line-height: 1.3em;}
b{font-weight:bold;}

.page {
    padding: 25px 25px 15px 25px;
    min-height: auto;
    min-height: -moz-calc(100% - 40px);
    min-height: -webkit-calc(100% - 40px);
    min-height: -moz-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
}
.page .instruction {background: url("images/instr_bg.png") no-repeat scroll 0px top transparent;padding: 2px 0 0px 30px;font-size: 14px;min-height: 19px;}

.page .instruction.white {background: url("images/instr_bg_white.png") no-repeat scroll 0px top transparent;padding: 2px 0 0px 30px;font-size: 14px;min-height: 19px;}


@media all and (min-width: 680px) {
	.page {
		padding: 25px 25px 15px 25px;
		min-height: auto;
		min-height: -moz-calc(100% - 40px);
		min-height: -webkit-calc(100% - 40px);
		min-height: -moz-calc(100% - 40px);
		height: -moz-calc(100% - 40px);
		height: -webkit-calc(100% - 40px);
		height: calc(100% - 40px);
	}
	.page .intro-text{
		padding-top: 20px;
	}
}
@media all and (min-height: 1800px) {


}
@media all and (device-width: 768px) and (device-height: 768px1024px) and (orientation:portrait) {
    .page {

    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}

/**
    Template Name: Simple Presentation
**/
/**
    m01_t01_p01
**/
.m01_t01_p01 {padding:0;min-height:auto;background-color: #E1F4FB;}
.m01_t01_p01 .text-holder .intro-text p{margin:0;}
.m01_t01_p01 .template-holder { width: 100%; height: 100%; position: relative; margin: 0; text-align: center; display: table; }
.m01_t01_p01 .logo-image-panel {  display: table; width: 100%;height: 70px;}
.m01_t01_p01 .holder { width: 100%; height: auto; position: relative; }
.m01_t01_p01 .logo-image-holder{ margin: 10px 0 7px 0; text-align: center; width: auto; }
.m01_t01_p01 .logo-image-holder .pagelogo{width: auto;padding-top:4px;}
.m01_t01_p01 .text-holder{ /* background-color: #FFF; */ color: #333333; position: relative; top: 0; height: auto; width: 100%; z-index: 1; padding: 0;  display: table;}
.m01_t01_p01 .text-holder .pageImage{ margin: 30px 0 0px 0;width: 100%;}
.m01_t01_p01 .text-holder .intro-text{width: 100%; position: relative; margin: 0 auto;font-size: 1em; color: #FFF;   padding: 15px 0 15px  0;/* font-family: "Lato-Light"; */background-color:#0A4166;}

.m01_t01_p01 .text-holder .intro-text2  {
   display: table;
   height: auto;
   text-align: center;
   width: 100%;
   font-size: 0.9em;
   padding-top: 10px;
}

.m01_t01_p01 .text-holder .intro-text2 #left {
   display: table-cell;
    vertical-align: middle;
    width: auto;
}.m01_t01_p01 .text-holder .text {
    vertical-align: middle;
}
.m01_t01_p01 .text-holder .clock  {
    vertical-align: middle;
	display:inline;
}
.m01_t01_p01 .text-holder .clock1  {
    vertical-align: middle;
	display:none;
}

@media all and (min-width:650px){
	.m01_t01_p01{padding: 0;}
	.m01_t01_p01 .logo-image-panel {height: 90px;}
	.m01_t01_p01 .holder { /* vertical-align: middle; */}
	.m01_t01_p01 .logo-image-holder{text-align: center; width: auto;vertical-align:middle;margin: 0px 0;/* height: 90px; */display: table-cell;}
	.m01_t01_p01 .logo-image-holder .pagelogo {vertical-align:middle;}
	.m01_t01_p01 .logo-image-holder img{width: auto;}
	.m01_t01_p01 .text-holder .intro-text{font-size: 1.6em;}
	.m01_t01_p01 .text-holder .intro-text { padding: 14px 0;}
	.m01_t01_p01 .text-holder .intro-text2 {font-size: 1.5em;}
	.m01_t01_p01 .text-holder .pageImage{ margin: 20px 0 0px 0;width: auto; }
	.m01_t01_p01 .text-holder .clock  { display:none;	}
	.m01_t01_p01 .text-holder .clock1  { display:inline;	}

}
@media all and (min-width:995px){

.m01_t01_p01 .text-holder .pageImage{  }

}
@media all and (min-width:1024px){

.m01_t01_p01 .text-holder .pageImage{ }

}


/**
    m01t01p02
**/
.m01_t01_p02 {background-color: #0a4166;}
.m01_t01_p02 .template-panel{display: flex;flex-wrap: wrap;}
.m01_t01_p02 .objective-holder{position: relative;margin-top: 25px;height: auto;width: 100%;left: 0;max-width: 50%;}
.m01_t01_p02 .img1 {width: 100%; max-width: 50%;}
.m01_t01_p02 .img1 img {max-width: 100%;display: block;margin: 0 auto;}
.m01_t01_p02 .objective-txt{background-color: #FFF;padding: 15px 20px;}
.m01_t01_p02 .page-header{display:table;padding: 0;width:100%;}
.m01_t01_p02 .page-header>div{display:table-cell}
.m01_t01_p02 .page-header h3{display:inline;font-size: 1.3em;}
.m01_t01_p02 .page-header .title{color: #EE3124;/* font-family: "Lato-Light"; */vertical-align: middle;border-bottom: 1px solid #EE3124;padding-bottom: 8px;/* font-weight: bold; */}

.m01_t01_p02 .scroll-data{padding: 10px 0;}
.m01_t01_p02 .scroll-data p{margin: 0;margin-bottom: 10px;}
.m01_t01_p02 .scroll-data .scrollbox {-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-padding-start: 0px;-moz-margin-before: 0;-moz-margin-after: 0;-moz-padding-start: 0px;}
.m01_t01_p02 .narration{text-align:center;background-color:#003882;width:100%;display:table;height:40px;color:#FFF}
.m01_t01_p02 .title-text{width:auto;display:table-cell;vertical-align:middle;font-size: 1.3em;}
.m01_t01_p02 .title-separator{height:40px;width:1px;background-color:#000;display:table-cell;vertical-align:middle}
.m01_t01_p02 .title-icon{display:table-cell;vertical-align:middle;width:80px;font-size: 1.2em;height:40px;padding-top:4px;text-align:center}

@media all and (max-width: 680px) {
    .m01_t01_p02 .objective-holder{width: 100%;max-width: 100%;}
    .m01_t01_p02 .img1 {width: 100%; max-width: 100%;margin-top: 20px;}
    .m01_t01_p02 .img1 img {max-width: 100%;display: block;margin: 0 auto;}
}


/**
    m01_t01_p03
**/
.m01_t01_p03 {
    background-color: #e1f4fb;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.m01_t01_p03 .template-panel{position:relative;width:100%;margin-top: 0;top: 0;height: auto;}
.m01_t01_p03 .template-holder{ display:table;width:100%;text-align:center}

.m01_t01_p03 .template-panel .intro-text {padding: 0;padding-bottom: 5px;padding-top: 20px;margin-bottom: 10px;font-size: 18px;font-weight: 700;}

.m01_t01_p03 .template-panel .intro-text .p1 {margin-left: 25px;}

.m01_t01_p03 .template-panel .intro-text .text-holder {background-color: #0b4167;padding: 25px 0;color: #fff;margin-bottom: 25px;}

.m01_t01_p03 .template-panel .intro-text .text-holder p {margin-left: 25px;font-size: 16px;font-weight: normal;}

.m01_t01_p03 .template-panel .intro-text .text-holder .part1 p { padding: 5px; }

.m01_t01_p03 .template-panel .intro-text .text-holder .part2 {display: flex;flex-direction: row;}

.m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-1 {width: 50%;border-right: 1px solid #fff; font-size: 16px;}

.m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-1 ul li {font-size: 16px; font-weight: normal;margin-left: 30px;}
.m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-2 {width: 50%;}

.m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-2 ul li {font-size: 16px; font-weight: normal;margin-left: 30px;}

.m01_t01_p03 .template-panel .intro-text .image-holder {width: 100%;display: flex;flex-wrap: wrap;}

.m01_t01_p03 .template-panel .intro-text .image-holder div {margin: 0 auto;}

.m01_t01_p03 .template-panel .intro-text .image-holder div p {margin-top: -38px;text-align: center;color: #fff;font-size: 16px;font-weight: normal;}

@media all and (max-width: 680px) {
    .m01_t01_p03 .template-panel .popup-txt .intro-text .text-holder .part2 {display: flex;flex-direction: column;}
    .m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-1 {width: 80%;border-bottom: 1px solid #fff;border-right: 0;margin: 0 auto;}
    .m01_t01_p03 .template-panel .intro-text .text-holder .part2 .part2-2 {width: 80%;margin: 0 auto;}
}

/**
    m01_t01_p04
**/
.m01_t01_p04 {background-color: #e1f4fb;margin: 0;padding: 0;padding-bottom: 25px;}
.m01_t01_p04 .template-panel .image-holder {width: 100%;height: 100%;}
.m01_t01_p04 .template-panel .image-holder .img1 {background: url("../../images/m01_t01_p04/m01_t01_p04_01_large.jpg");background-position: left top;background-repeat: no-repeat;min-width: 100%; min-height: 100%;background-size: cover;z-index: 1;position:relative;}
.m01_t01_p04 .template-panel .image-holder .img2 {background: url("../../images/m01_t01_p04/m01_t01_p04_02_large.jpg");background-position: left top;background-repeat: no-repeat;min-width: 100%; min-height: 100%;background-size: cover;z-index: 2;position:relative;}
.m01_t01_p04 .template-panel .image-holder .img3 {background: url("../../images/m01_t01_p04/m01_t01_p04_03_large.jpg");background-position: left top;background-repeat: no-repeat;min-width: 100%; min-height: 100%;background-size: cover;z-index: 3;position:relative;}
.m01_t01_p04 .template-panel .image-holder .img4 {background: url("../../images/m01_t01_p04/m01_t01_p04_04_large.jpg");background-position: left top;background-repeat: no-repeat;min-width: 100%; min-height: 100%;background-size: cover;z-index: 4;position:relative;}
.m01_t01_p04 .template-panel .image-holder .img5 {background: url("../../images/m01_t01_p04/m01_t01_p04_05_large.jpg");background-position: left top;background-repeat: no-repeat;min-width: 100%; min-height: 100%;background-size: cover;z-index: 5;position:relative; }

.m01_t01_p04 .template-panel .image-holder div p {padding-top: 46%;text-align: center;color: #fff;font-size: 16px;font-weight: normal;}
.m01_t01_p04 .template-panel {height: 100%;}
.fadeIn > span {top: 92%;display: block;width: 100%;position: absolute; text-align: center;color: #ffffff; font-size: 1em; font-weight: 600}
.m01_t01_p04 .sub-page {
  background-color: #0a4166;
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
  width: 100%;
  padding-top: 60px;
}
.sub-page > .content-tab {
  width: 50%;
  background-color: #116299;
  border-radius: 5px;
}

.content-tab  > img {
  padding: 20px;
  vertical-align: middle;
}

.content-tab  > span {
  vertical-align: middle;
  font-size: 1.25em;
  color: #ffffff;
}

.sub-page > div {
  margin: 0 auto;
}

.icon-arrow {
  width: 32px;
  padding: 20px;
}

.icon-arrow img {
transform: rotate(-90deg);
}
@media all and (max-width: 680px) {

}

/**
    m01_t01_p05
**/
.m01_t01_p05 {background-color: #e1f4fb;margin: 0;padding: 0;padding-bottom: 25px;}
.m01_t01_p05 .template-panel .content-area {display: flex;flex-wrap: wrap; padding-top: 30px;}
.m01_t01_p05 .template-panel .content-area .part-1 {position: relative;display: inline-block;max-width: 50%;padding-left: 30px;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-2 .text-2-1 {font-weight: bold;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 {margin-top: 30px;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder {display: flex; flex-wrap: nowrap;justify-content: space-between; margin-top: 3%;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder li{ background: url("../../images/li_white.png") no-repeat scroll 0px 4px transparent; padding: 0px 0 0px 15px;margin-top: 7px;line-height: 1.3em;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-1 ul {-webkit-padding-start: 10px;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-1 {background: #029ddf; color: #FFF;padding: 1%;width: 30%;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-2 {background: #ef3125; color: #FFF;padding: 1%;width: 30%;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-2 p {text-align: center;padding: 0px;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-3 {background: #029ddf; color: #FFF;padding: 1%;width: 30%;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-3 p {text-align: center;padding: 0px;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .equalH {flex: 1;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder .divider1 {align-self: center;}
.m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder .divider2 {align-self: center;transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);}
.m01_t01_p05 .template-panel .content-area .part-2 {display: inline;height: auto;}
.m01_t01_p05 .template-panel .content-area .part-2 img {position: absolute;right: 4%; max-width: 50%; margin-top: -20px;}

@media all and (max-width: 860px) {
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder {width: 70%;flex-direction: column;margin: 0 auto;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-1 {width: 80%;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-2 {width: 80%;margin-top: 5px}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-3 {width: 80%;margin-top: 5px}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 {margin-top: 10px;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .box-1 ul {-webkit-margin-before: 0em;-webkit-margin-after: 0em;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder .divider1 {margin-top:5px;transform: rotate(90deg);-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);margin-left: -50px;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-3 .text-3-box-holder .divider2 {margin-top: 5px;transform: rotate(270deg);-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);margin-left: -50px;}
}

@media all and (max-width: 680px) {
    .m01_t01_p05 .template-panel .content-area .part-1 {max-width: 100%;padding-left: 30px;display: block;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-1 {width: 100%;}
    .m01_t01_p05 .template-panel .content-area .part-1 .text-2 {width: 100%}
    .m01_t01_p05 .template-panel .content-area .part-2 img {position: relative;max-width: 100%;right: 0;left: 50%;margin-top: 20px;}
}

/**
    m01_t01_p07
**/
.m01_t01_p07 {background: url(../../images/m01_t01_p07/m01_t01_p07_bg.jpg);background-position: top left;background-repeat: no-repeat;min-width: 100%;background-size: cover; margin: 0;padding: 0;padding-bottom: 25px;}
.m01_t01_p07 .template-panel .content-area {padding: 30px; color: #FFF;}
.m01_t01_p07 .template-panel .content-area ul li {list-style: disc; background: none;padding: 3px;}
.m01_t01_p07 .template-panel .content-area ol li {padding: 3px;}

@media all and (max-width: 480px) {
    .m01_t01_p07 {background: url(images/m01_t01_p07/m01_t01_p07_bg1.jpg);background-position: top left;background-size: cover;}
}
