//Shell Dimension
$base-height: 650px;
$base-width: 1024px;

// Font Sizes
$base-font-size: 12px;
$smaller-font-size: 10px;
$medium-font-size: 14px;
$course-title-size: 1.5em;

//Background Color
$intro-bg: #5B6770;

//Line height
$base-line-height: 1.4;

//Spacing
$base-padding: 10px;
$base-margin: 10px;

//Text Color
$white: #FFFFFF;
